# Database
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=jobserver
MYSQL_USER=jobserver
MYSQL_PASSWORD=jobserver
DATABASE_HOST=db
DATABASE_PORT=3306
DATABASE_DEBUG=false

# File Transfer
FILE_DOWNLOAD_EXPIRY_TIME=86400
MAX_FILE_BUFFER_SIZE=52428800
MIN_FILE_BUFFER_SIZE=10485760
FILE_CHUNK_SIZE=65536

# Config Files
CLUSTER_CONFIG_FILE=/app/config/clusters.json
ACCESS_SECRET_CONFIG_FILE=/app/config/access_secrets.json

# HTTP
HTTP_PORT=8000
HTTP_CONTENT_TIMEOUT_SECONDS=86400

# WebSocket
WEBSOCKET_PORT=8001

# Cluster Manager
CLUSTER_MANAGER_CLUSTER_RECONNECT_SECONDS=60
CLUSTER_MANAGER_PING_INTERVAL_SECONDS=10
CLUSTER_MANAGER_TOKEN_EXPIRY_SECONDS=60
CLUSTER_MANAGER_MANUAL_TOKEN_EXPIRY_SECONDS=600
CLUSTER_MANAGER_MAX_TOKEN_EXPIRY_SECONDS=600

# Scheduler
QUEUE_SOURCE_PRUNE_MILLISECONDS=60000
CLUSTER_RESEND_MESSAGE_INTERVAL_MILLISECONDS=60000
CLUSTER_RECENT_STATE_JOB_IGNORE_SECONDS=60
CLIENT_TIMEOUT_SECONDS=30
